@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

.users-played-wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    background-image: url(../../../Assets/affiliateDashboard/users_played.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    flex-direction: column;
}
.users-played-wrapper .userhand{
    position: absolute;
    left: 0;
    top:95px;
    height: 86.5%;
    z-index: 1;
}
.played-users-head{
    margin-top:40px;
    color: #FF0000;
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Holtwood One SC', serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), 
    -2px -2px 4px rgba(255, 100, 100, 0.3);
}

.user-played-cards-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.user-played-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.user-played-card:nth-of-type(2){
    margin-left: -10px;
}
.user-played-img-wrap {
    width: 90px;
    height: 80px;
    overflow: hidden;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.8);
    
}

.user-played-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  
}

.user-played-card h3 {
    font-style: italic;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 
    0px 0px 6px rgba(255, 255, 255, 0.1);
  
}

.user-cards-last-div{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    text-transform: uppercase;
   
}
.user-cards-last-div h1{
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0 8px;
    padding-top: 1.5px;
    padding-bottom: 2px;
    background:#FF0000;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), 
    0px 0px 5px rgba(255, 255, 255, 0.4);
}
.user-cards-last-div h4{
    font-size: 19px;
    letter-spacing: 1px;
}


@media(max-width:768px){
    .users-played-wrapper{
    overflow-x: hidden;
    }    
.users-played-wrapper .userhand{
   height: 80%;
   left: -220px;
}


.played-users-head{
    font-size: 35px;
    z-index: 2;
}

.user-played-cards-wrap {
z-index: 2;   
}


.user-cards-last-div{
z-index: 2;
}
.user-cards-last-div h1{
    font-size: 18px;
width: 300px;    
}
.user-cards-last-div h4{
    font-size: 19px;
    letter-spacing: 1px;
}

}