
.calendarOfMatchesWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(../../Assets/calender/two.jpg);
    background-position: center 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  padding-top: 22%;
}
.calendarOfMatchesWrapper h1 {
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #d1e5ff;
    font-family: 'Bungee', sans-serif;
    position: relative;
    z-index: 2;
    display: inline-block;
    background: linear-gradient(to right, #bfcde4 10%, #ffffff 50%, #bfcde4 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: skewX(-10deg);
  }

@media(max-width:768px){
    .calendarOfMatchesWrapper h1 {
        font-size: 40px;
        text-align: center;
       }
}



.customCalendarContainer {
    margin-top: 22%;
    margin-bottom: 100px;
    position: relative;
}



.customCalendar {
    width: 100%;
    max-width: 600px;
    background: #271f29;
    border: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    border-radius: 0 !important;
   

}

/* Month Heading Styling */
.calendarMonth {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 12px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'UFCSans';
    
   }

/* Weekday Names */
.react-calendar__month-view__weekdays__weekday {
    font-size: 17px;
    background: #2d3646;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    border-right: 4px solid #271f29;
    
}

.react-calendar__month-view__weekdays__weekday:last-of-type{
    border-right: 0;
}
/* Calendar Tiles */
.react-calendar__tile {
    background: #afb5b1;
    color: black;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    font-size: 1.3rem;
    height: 75px;
    text-align: center;
    margin: 5px; /* Added spacing */
    
    border-right: 4px solid #271f29 !important;
    border-bottom: 4px solid #271f29 !important;
}.react-calendar__month-view__days__day:nth-child(7n) {
    border-right: 0 !important;
}


/* Active Date */
.react-calendar__tile--active , .highlighted-circle{
    background: #47484b;
    color: white;
    border: 3px solid white;
    border:none !important;
    transform: scale(1.01);

}

/* Calendar Navigation Arrows */

.customCalendarContainer .calendarArrow {
    position: absolute;
    bottom: -70px;
    right: 10px;
    font-size: 24px;
    color: white;
    background: #8f202a;
    border: none;
    cursor: pointer;
    padding: 5px 18px;
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    transition: background 0.3s, transform 0.2s;
}

/* Spacing between buttons */
.calendarArrow.left {
    right: 60px;
}

.calendarArrow:hover {
    background: #1d252c;
    transform: scale(1.1);
}



@media(max-width:768px){
 
.calendarOfMatchesWrapper {
  padding:20px;
    padding-top: 70%;
}   



/* Calendar Tiles */
.react-calendar__tile {
    font-size: 1rem;
    height: 55px;
   
}

}