@import url('https://fonts.googleapis.com/css2?family=Trebuchet+MS&display=swap');

@font-face {
  font-family: 'UFCSans';
  src: url('../../Fonts/UFCSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'UFCSans';
  src: url('../../Fonts/UFCSans-CondensedBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'UFCSans';
  src: url('../../Fonts/UFCSans-CondensedMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: condensed;
}



@font-face {
  font-family: 'UfcSansRegular';
  src: url('../../Fonts/UFCSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UFCSans';
  src: url('../../Fonts/UFCSans-RegularOblique.woff2') format('woff2');
  font-weight: normal;
  font-style: oblique;
}


.fightCosting{
    min-height: 100vh;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../../Assets/RING3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    flex-direction: column;
    
}
.fightDetailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    margin-top:1px;
}
.fightDetailsContainer .fightDetailsContainerFirstHeading{
    font-family: 'UFCSans', "Arial Narrow", Arial, sans-serif;
    font-weight: 500; /* Weight corresponding to UFCSans-CondensedMedium */
    font-style:normal; /* Condensed style */
    font-size:26px;
    color: #eee;
    text-transform:uppercase;

}

.fightDetailsContainer .fightDetailsContainerFirstHeading span{
    color:#e4c707;
}
.fightDetailsContainer .fightersImagesInFightDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.fightersImagesInFightDetails h1{
    font-weight: 500; /* Weight corresponding to UFCSans-CondensedMedium */
    font-style:condensed; /* Condensed style */
    font-size:24px;
    color: #eee;
    text-transform:uppercase;
    font-family: 'UFCSans', "Arial Narrow", Arial, sans-serif;
   
}
.fightCosting .imgWrapFights{
    width:100px;
    height:100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
}
.fightCosting .imgWrapFights img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}



/* Specific styles for the first image */
.fightCosting .imgWrapFights:nth-of-type(2) img {
    border: 3px solid red;
}

/* Specific styles for the second image */
.fightCosting .imgWrapFights:nth-of-type(1) img {
    border: 3px solid blue;
}



.fightDetailsContainer .fightTypeInFightDetails{
    font-weight: 500; /* Weight corresponding to UFCSans-CondensedMedium */
    font-style:normal; /* Condensed style */
    font-size:26px;
    color: #eee;
    text-transform:uppercase;
    font-family: 'UFCSans', "Arial Narrow", Arial, sans-serif;
}
.fightDetailsContainer .fightDetailsPot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.fightDetailsContainer .fightDetailsPot h1, .fightDetailsContainer .fightDetailsPot p{
    font-style:normal; /* Condensed style */
    font-size:24px;
    color: #eee;
    text-transform:uppercase;
    font-family: 'UFCSans', "Arial Narrow", Arial, sans-serif;
}
.fightDetailsContainer .beiginningTimeFight{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;

}
.fightDetailsContainer .beiginningTimeFight h1 , 
.fightDetailsContainer .beiginningTimeFight p{
    font-style:normal; /* Condensed style */
    font-size:24px;
    color: #eee;
    text-transform:uppercase;
    font-family: 'UFCSans', "Arial Narrow", Arial, sans-serif;
}

.fightDetailsContainer .makeGreen{
    color:#38b90c;
}






.fightwalletWrap{
    width:100%;
    display: flex;
    justify-content: right;
    align-items: right;
    color: #ccc;
    margin-top:20px;
    padding-right: 20px;
}


.fightwalletWrap .fightWallet h1{
    font-size: 24px;
    margin-bottom: 5px;
}
.fightwalletWrap .fightWallet h2{
    padding: 7px 10px;
    border:2px solid #ccc;
}

.fightwalletWrap .fightWallet h2 span{
    padding: 2px 10px;
    background-color: #fff;
    color:black;
}


.note{
    color:#e4c707;
    font-style: italic;
    margin-top:100px;
    margin-bottom: 50px;
    
    font:bold italic 14px / 15px 'Trebuchet Ms', sans-serif;
    font-size: 17px;
}



@media (max-width: 767px){
    
    .fightwalletWrap{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;
        margin-top:20px;
        padding-right: 0;
        padding-left: 45px;
    }
    
    
    .fightwalletWrap .fightWallet h1{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .fightwalletWrap .fightWallet h2{
        padding: 7px 10px;
        font-size: 18px;
    }
    
    .fightwalletWrap .fightWallet h2 span{
        padding: 2px 10px;
        background-color: #fff;
        color:black;
    }
    


    .fightDetailsContainer{
        padding:0 2px;
    }    
    .fightDetailsContainer .btn-grad{
        width:50%;
    }
.fightDetailsContainer .fightersImagesInFightDetails{
   margin-top: 20px;
    
}

.fightDetailsContainer .fightersImagesInFightDetails h1{
    font-size: 20px;
}

.fightCosting .imgWrapFights{
    width:85px;
    height:85px;
}
.fightDetailsContainer .fightTypeInFightDetails{
    font-size:17px;
    }
.fightDetailsContainer .fightDetailsPot h1, .fightDetailsContainer .fightDetailsPot p{
    font-size:20px;
   }
.fightDetailsContainer .beiginningTimeFight h1 , 
.fightDetailsContainer .beiginningTimeFight p{
    font-size:18px;
    }




    }