@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.past-fights-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../../Assets/calender/five.png);
    background-position: center 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  padding-top: 13%;
  position: relative;

}
.details-of-past-fight{
    background-image: url(../../Assets/calender/back-two.jpg);  
}
.one-in-past{
    position: absolute;
    top:160px;
    left: 4px;
    width: 70px;
}
.two-in-past{
    position: absolute;
    left:10px;
    top:50%;
    width: 60px;
}

.three-in-past{
    position: absolute;
    right:10px;
    top:50%;
    width: 60px;
}

.past-fights-container h1 {
    font-family: 'Archivo Black', sans-serif;
    font-style: italic;
    font-size: 53px; /* Adjust as needed */
    color: #4d0000; /* Dark red text */
    text-shadow: 2px 1px 0px #ffffff, 
                 -1px -1px 0px #ffffff, 
                 2px -1px 0px #ffffff, 
                 -1px 1px 0px #ffffff; /* Softer white outline */
    text-transform: uppercase;
    letter-spacing: 0.3px;
}


.fights-grid {
    display: flex;
    justify-content: space-between; /* Ensures one column on the left, one on the right */
    width: 70%;
    font-style: italic;
    margin-top: 25px;
}

.column {
    display: flex;
    flex-direction: column;
   gap: 20px; /* Adjusts spacing between fight-cards */
}

.fight-card {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 370px;
    cursor: pointer;
  
}
.fight-card:hover{
    box-shadow: 0 10px 20px rgb(0,0,0,0.4);
}
.fight-date {
    background-color: #ff0000;
    color: white;
    padding: 10px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.fights-grid .one .fight-card:nth-of-type(2),.fights-grid .two  .fight-card:nth-of-type(2){
    margin-left: -8.2px;
}

.fights-grid .one .fight-card:nth-of-type(3),.fights-grid .two  .fight-card:nth-of-type(3){
    margin-left: -15.8px;
}
.fights-grid .one .fight-card:nth-of-type(4),.fights-grid .two  .fight-card:nth-of-type(4){
    margin-left: -24px;
}

.fight-date .date {
    font-size: 24px;
    font-weight: bold;
}

.fight-date .month {
    font-size: 14px;
}

.fight-info h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    font-style: italic;
    color: white;
    margin: 0;
}

.fight-info p {
    font-size: 14px;
    color: white;
    opacity: 0.8;
    margin: 0;
}









.nav-icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  
}

.left-icon, .right-icon {
    background-color: rgba(0,0,0,0.9);
    color: red;
    padding: 15px 20px;
    font-size: 20px;
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%); /* Adjust for sharper tilt */
    cursor: pointer;
    transition: 0.3s ease;
}

.left-icon:hover, .right-icon:hover {
    background-color: darkred;
    color: #fff;
}




@media (max-width: 768px) {
    .past-fights-container{
        justify-content: flex-start;
        min-height: 160vh;
        background-position: center 20px;
      padding-top: 60%;
      }
    .one-in-past{
    display: none;  
    }
    .two-in-past{
  
        display: none;  }
    
    .three-in-past{
  
        display: none;  }
    
    .past-fights-container h1 {
        font-size: 30px; /* Adjust as needed */
    }
    
    
    .fights-grid {
        justify-content: center; /* Ensures one column on the left, one on the right */
        width: 100%;
        margin-top: 25px;
        flex-direction: column;
        gap:20px;
        padding-left: 15px;
    }
    
    .fight-date {
        padding: 10px;
        width: 60px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    
    .fights-grid .one .fight-card:nth-of-type(2),.fights-grid .two  .fight-card:nth-of-type(2){
        margin-left: 0;
    }
    
    .fights-grid .one .fight-card:nth-of-type(3),.fights-grid .two  .fight-card:nth-of-type(3){
        margin-left:  0;
    }
    .fights-grid .one .fight-card:nth-of-type(4),.fights-grid .two  .fight-card:nth-of-type(4){
        margin-left: 0;
    }
    
    .fight-date .date {
        font-size: 23px;
  }
    
}

.past-fights-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}

.fighter-images-in-past-details {
    display: flex;
    align-items: center;
    gap: 20px; /* Increased spacing for better separation */
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    padding: 15px;
  }

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Space between image and name */
}

.fighter-images-in-past-details img {
    width: 180px;
    max-height: 180px;
    object-fit: cover;
    object-position: top;
    border-radius: 8px; /* Slightly rounded corners */
    transition: transform 0.3s ease-in-out;
}

.fighter-images-in-past-details img:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}


.fighter-images-in-past-details .fighter-name{
    font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    box-shadow: 0 10px 20px rgb(0,0,0,0.4);
    text-align: center;
    border-radius: 8px;
   
}





.details-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details-content h2 {
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.details-content h1{
	color:#fff;
	font-family: 'Anton', sans-serif;
	font-style:italic;
	font-size:95px;
	transform:rotate(-1deg);
	text-transform:uppercase;
	font-weight:300;
	text-align:center;
	line-height:1.1;
	margin:20px 0;
}

.details-content h3 {
    font-family: 'Inter', sans-serif;
    color: #fff;
	font-size:30px;
}
.details-content .line{
	width:400px;
	height:3px;
	background:#fff;
	margin:10px 0;
    margin-top: 20px;
}

.details-content h4{
    font-family: 'Inter', sans-serif;
    color: #fff;
	font-size:20px;
	font-weight:100;
	margin:20px 0;
    margin-top: 10px;
}


.details-content h5{
	color:#fff;
	font-family: 'Anton', sans-serif;
	font-size:35px;
	text-transform:uppercase;
	font-weight:300;
}









@media(max-width:768px){

    .fighter-images-in-past-details {
    gap: 20px;
    flex-direction: column;
  }

  .details-content{
    padding: 0 20px;
    max-width: 340px;
    text-align: center;
}

.details-content h1{
	font-size:50px;
	font-weight:500;
    font-family: 'UFCSans', sans-serif;
 
    letter-spacing: 2px;
}

.details-content h3 {
   font-size:17px;
	}
.details-content .line{
	width:310px;
	}

    .details-of-past-fight{
    min-height: 180vh;
    }
}